

@import './components/variables';
@import './components/basestyles';
@import './components/hederstyles';
@import './components/herostyles';
@import './components/modalherostyles';
// @import './components/featuresectionstyles';
@import './components/activittiessectionstyles';
@import './components/teamsectionstyles';
@import './components/clientssectionstyles';
@import './components/footerstyles';
@import './components/portfoliosectionstyles';

